.header {
  background-color: rgb(42, 70, 152);
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &__promo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: #fff;
        text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
    }
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
      column-gap: 3rem;

      li {
        a {
          color: #fff;
          font-size: 1.3rem;
        }
      }
    }
  }
}
